<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Mean page</title>
      </head>
      <body>
        <form action="{% url 'vocab:submit' %}" method="post">
          <input type="text" name="word" value ={{word.word_text}} ><br>
          <h3>ความหมาย</h3>

        {% for mean in word.mean_set.all %}
          &nbsp&nbsp&nbsp<input type="text" name="word" value ={{mean}} ><a href="{% url 'vocab:delMean' mean.word %}">ลบ</a> <br> 
        {% endfor %}
      </form>

      </body>
      <a href="{% url 'vocab:index' %}"><input type=button value="Back" ></a>
</html>          
