<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Poll</title>
      </head>
      <body>
        <h1>Poll</h1>
            {% if sorted_question_list %}
                <h2>List Questions</h2>
                <ul>
                {% for question in sorted_question_list %}
                    <br>
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
                </ul>

        {% else %}
            <p>No polls are available.</p>
        {% endif %}
        <form action="{% url 'polls:sortQ'%}" method="GET"> 
            <input value="Sort By Newest" type="submit" name="Newest">
            <input value="Sort By Oldest" type="submit" name="Oldest">
            <br>
            <input value="Sort By Most Votes" type="submit" name="Most Votes">
            <input value="Sort By Least Votes" type="submit" name="Least Votes">
            <br>
            <input value="Sort By Latest Votes" type="submit" name="Latest Votes">
        </form>
      </body>
</html>          

